numpy
pandas
seaborn
matplotlib
nltk
spacy
ipykernel
scikit-learn
tensorflow
keras
streamlit
wordcloud
emoji
xgboost
transformers
datasets
torch
sentencepiece
accelerate
plotly
gdown
tf_keras